.auctex-auto
main.aux
main.fdb_latexmk
main.fls
main.log
main.pdf
main.toc
main.bbl
main.blg
main.out
sections/1intro.aux
sections/2sheaves.aux
sections/3cohomology.aux
sections/4riemann_roch.aux
sections/5serre.aux
sections/.auctex-auto
sections/make
graphics/*
