.auctex-auto
main.aux
main.fdb_latexmk
main.fls
main.log
main.pdf
main.toc
main.bbl
main.blg
main.out
sections/1intro.aux
sections/2varieties.aux
sections/3sheaves.aux
sections/4cohomology.aux
sections/5riemann_roch.aux
sections/6serre.aux
sections/.auctex-auto
sections/make
